.btn {
    cursor: pointer;
    border: none;
    padding: 0.65em 1.25em;
    border-radius: $br-sm;
    font-weight: 500;
    transition: $t;
    color: var(--main-d);
    background-color: var(--main-l);

    &:hover {
        background-color: var(--main-ll);
    }

    &--main {
        background-color: var(--main-d);
        color: #fff; 
        
        &:hover {
            background-color: var(--main);
        }
    }
}

.btn-link {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: $text-l;
    border-bottom: 1px dashed $text-l;
    font-size: inherit;
    transition: $t;

    &:hover {
        color: $text;
        border-bottom-color: $text;
    }
}