.btn {
    cursor: pointer;
    border: none;
    padding: 0.65em 1.25em;
    border-radius: $br-sm;
    font-weight: 500;
    transition: $t;
    color: var(--main-d);
    background-color: var(--main-l);

    &:hover {
        background-color: var(--main-ll);
    }

    &--main {
        background-color: var(--main-d);
        color: var(--base); 
        
        &:hover {
            background-color: var(--main);
        }
    }
}

.btn-link {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: var(--text-l);
    border-bottom: 1px dashed var(--text-l);
    font-size: inherit;
    transition: $t;

    &:hover {
        color: var(--text-);
        border-bottom-color: var(--text);
    }
}