.data-rows {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.data-row {
    display: flex;
    column-gap: 25px;

    &__pic {
        width: 80px;
        padding: 7px;
        flex-shrink: 0;
        border: 1px solid $line;
        position: relative;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: 100px;
            object-fit: contain;
            object-position: center;
        }
    }

    &__description {
        color: $text-l;
        font-size: 10px;
        text-align: center;
        position: absolute;
        bottom: -18px;
        width: 100%;
        left: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        row-gap: 1px;
    }

    &.is-hidden {
        display: none;
    }
}

.data-info {
    &__title {
        text-transform: uppercase;
        font-size: 11px;
        color: $text-l;
    }

    &__content {
        > a {
            word-break: break-all;
            line-height: 1;
        }
    }

    &--inactive {
        .data-info__content {
            opacity: 0.35;
            color: $text-l;
            font-style: italic;

            &::after {
                content: "—";
            }
        }
    }
}
