.data-counters {
    display: flex;
    column-gap: 25px;

    &--sm {
        column-gap: 12px;

        .data-counter__content {
            font-size: 12px;
            padding-top: 0.25em;
        }
    }
}

.data-counter {
    &__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $text-l;
        font-size: 11px;
        letter-spacing: 0.04em;
        line-height: 1;
    }

    &__content {
        &--inactive {
            opacity: 0.2;
        }

        &.is-empty {
            color: $text-l;
            &::after {
                content: "—";
            }
        }

        &.is-missing {
            &::after {
                content: "✖";
            }
        }
    }
}
