.footer {
    background-color: $main-d;
    font-size: 12px;
    padding: 3px 30px;
    height: 25px;

    &__author {
        margin: 0;
        text-align: right;
        color: lighten($main, 20);

        a {
            color: lighten($main, 20);
            transition: $t;

            &:hover {
                color: $main-ll;
            }
        }
    }
}
