.footer {
    background-color: var(--main-d);
    font-size: 12px;
    padding: 3px 30px;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
        color: var(--line-m);

        a {
            color: var(--line-m);
            transition: $t;

            &:hover {
                color: var(--main-lll);
            }
        }
    }
}
