.textinput {
    border: 1px solid var(--line);
    padding: 0.5em 0.75em;
    border-radius: $br-sm;

    &:focus {
        outline: none;
        border-color: var(--line-m);
    }

    &--sm {
        max-width: 50px;
    }
}