.status {
    position: relative;

    &.is-active {
        &:hover {
            .status__content {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    &__content {
        color: var(--text);
        max-width: 430px;
        min-width: 400px;
        opacity: 0;
        border-radius: $br;
        box-shadow: $bs-sm;
        padding: 20px;
        position: absolute;
        bottom: 30px;
        left: -10px;
        background-color: var(--base);;
        transition: transform 0.3s cubic-bezier(0.76, -0.44, 0.35, 1.46), opacity 0.1s ease-in-out;
        transform: translateY(-10px);
        visibility: hidden;
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--base);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            bottom: -4px;
            z-index: 0;
            left: 15px;
            display: block;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
        }
    }
}


.status-dot {
    color: $good;

    &::after {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $good;
        transform: translateY(-2px);
        margin-right: 5px;
    }

    &--warning {
        color: $warning;
    }

    &--bad {
        color: $bad;
    }
}