.tabpanels {
    position: relative;
    flex: 1 0 auto;
    height: calc(100% - 100px);
}

.tabpanel {
    position: relative;
    display: none;
    flex-direction: column;
    height: 100%;

    &[aria-hidden="false"] {
        display: flex;
    }

    &__content {
        padding: 20px 15px 20px 30px;
        height: 100%;
        overflow-y: scroll;
    }

    &__footer {
        position: relative;
        background-color: #fff;
        border-top: 1px solid $line;
        padding: 0 30px;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 40px;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, #fff 100%);
            position: absolute;
            z-index: 1;
            top: -41px;
            left: 0;
            pointer-events: none;

        }

        &--main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 25px;
            // background: linear-gradient(90deg, #e4f8ff, transparent);
        }

        &--tools {
            border-top: none;
        }        
    }
}

.tablist {
    padding: 10px 30px 0 30px;
    display: flex;
    border-bottom: 1px solid $line;
}

.tab {
    margin-bottom: -1px;
    cursor: pointer;
    border: none;
    color: $text;
    font-weight: 500;
    font-size: 13px;
    background: none;
    padding: 0 20px;
    line-height: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    transition: $t;
    border-radius: 6px 6px 0 0;

    &:hover {
        background-color:  lighten($bg-l, 1.2);
        border-bottom-color: $line;
    }

    &[aria-selected="true"] {
        color: $main;
        border-block-color: $main;
        background-color: #fff;
    }
}
