.table {
    font-size: 13px;

    tr {
        td {
            padding: 6px 0;
            vertical-align: top;

            &:first-child {
                padding-top: 7px;
                padding-right: 40px;
                max-width: 160px;
            }
        }
    }

    .row-title {
        width: 130px;
        text-transform: uppercase;
        color: var(--text-l);
        font-size: 12px;
        letter-spacing: 0.05em;

        a {
            color: var(--text-l);
        }

        a[href] {
            color: var(--text-l);
            text-decoration: none;
            border-bottom: 1px solid var(--line);
            padding-bottom: 0.075em;
            transition: $t;

            &:hover {
                border-bottom-color: var(--main-l);
                color: var(--main-d);
            }
        }
    }

    .row-content {
        display: flex;
        align-items: flex-start;
        column-gap: 10px;

        a {
            word-break: break-all;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            li {
                margin: 0;
            }
        }

        .is-empty {
            &::after {
                content: "Содержимое отсутствует";
                font-style: italic;
                color: var(--text-l);
                pointer-events: none;
                user-select: none;
            }
        }

        .is-missing {
            &::after {
                content: "Элемент не найден";
                font-style: italic;
                color: var(--text-l);
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .row-status {
        min-width: 20px;
    }
}
