.table {
    font-size: 13px;

    tr {
        td {
            padding: 6px 0;
            vertical-align: top;

            &:first-child {
                padding-top: 5px;
                padding-right: 40px;
                max-width: 160px;
            }
        }
    }

    .row-title {
        width: 130px;
        text-transform: uppercase;
        color: $text-l;
        font-size: 12px;
        letter-spacing: 0.05em;

        a {
            color: $text-l;
            text-decoration: none;
            border-bottom: 1px solid $line;
            padding-bottom: 0.075em;
            transition: $t;

            &:hover {
                border-bottom-color: $main-l;
                color: $main-d;
            }
        }
    }

    .row-content {
        display: flex;
        column-gap: 10px;

        .is-empty {
            &::after {
                content: "Содержимое отсутствует";
                font-style: italic;
                color: $text-l;
                pointer-events: none;
                user-select: none;
            }
        }

        .is-missing {
            &::after {
                content: "Элемент не найден";
                font-style: italic;
                color: $text-l;
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .row-status {
        min-width: 20px;
    }
}
