@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

::-moz-selection {
  background: #2785e1;
  color: #fff;
}

::selection {
  background: #2785e1;
  color: #fff;
}

::-webkit-scrollbar {
  height: 18px;
  width: 18px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eef3f5;
  border-radius: 10px;
  border: 5px solid #fff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #dee7ec;
}

body {
  margin: 0;
  width: 650px;
  height: 590px;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 14px;
  color: #2d384b;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  color: #2785e1;
  transition: all 0.1s ease-in-out;
}
a:hover {
  color: #0b70e8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0.25em 0;
}

hr {
  height: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #dee7ec;
}
hr.dotted {
  border-bottom: 1px dotted #dee7ec;
}

.text-muted {
  color: #b4b8be;
}

.text-nowrap {
  white-space: nowrap;
}

.text-main {
  color: #2785e1;
}

.text-good {
  color: #61d5a7;
}

.text-bad {
  color: #ff7c64;
}

.text-warning {
  color: #ffc188;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cols {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.col-6 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.f-align-center {
  align-items: center;
}

.f-justify-between {
  justify-content: space-between;
}

.yandex-x {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 20px;
}
.yandex-x > img {
  position: absolute;
  right: -5px;
  top: -2px;
  filter: contrast(1.5);
  display: block;
  width: 80px;
  height: auto;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.65em 1.25em;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  color: #0b70e8;
  background-color: #e5eefd;
}
.btn:hover {
  background-color: #eef4fe;
}
.btn--main {
  background-color: #0b70e8;
  color: #fff;
}
.btn--main:hover {
  background-color: #2785e1;
}

.btn-link {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  color: #8e95a0;
  border-bottom: 1px dashed #8e95a0;
  font-size: inherit;
  transition: all 0.1s ease-in-out;
}
.btn-link:hover {
  color: #2d384b;
  border-bottom-color: #2d384b;
}

.tabpanels {
  position: relative;
  flex: 1 0 auto;
  height: calc(100% - 100px);
}

.tabpanel {
  position: relative;
  display: none;
  flex-direction: column;
  height: 100%;
}
.tabpanel[aria-hidden=false] {
  display: flex;
}
.tabpanel__content {
  padding: 20px 15px 20px 30px;
  height: 100%;
  overflow-y: scroll;
}
.tabpanel__footer {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #dee7ec;
  padding: 0 30px;
}
.tabpanel__footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #fff 100%);
  position: absolute;
  z-index: 1;
  top: -41px;
  left: 0;
  pointer-events: none;
}
.tabpanel__footer--main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tabpanel__footer--tools {
  border-top: none;
}

.tablist {
  padding: 10px 30px 0 30px;
  display: flex;
  border-bottom: 1px solid #dee7ec;
}

.tab {
  margin-bottom: -1px;
  cursor: pointer;
  border: none;
  color: #2d384b;
  font-weight: 500;
  font-size: 13px;
  background: none;
  padding: 0 20px;
  line-height: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  height: 40px;
  transition: all 0.1s ease-in-out;
  border-radius: 6px 6px 0 0;
}
.tab:hover {
  background-color: #fafbfb;
  border-bottom-color: #dee7ec;
}
.tab[aria-selected=true] {
  color: #2785e1;
  border-block-color: #2785e1;
  background-color: #fff;
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.fields-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.fields-group__alert {
  display: none;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  font-size: 12px;
  color: #8e95a0;
}
.fields-group__alert.is-active {
  display: flex;
}
.fields-group__alert .btn-link {
  margin-left: 6px;
}

.field {
  border-radius: 8px;
  position: relative;
  min-height: 30px;
  background: linear-gradient(90deg, #f9fafb 0%, #f6f8f9 100%);
}
.field__header {
  background-color: #f6f8f9;
  padding: 4px 7px 5px 25px;
  position: absolute;
  top: -5px;
  right: 0;
  border-radius: 20px 4px 0 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.field__title {
  text-transform: uppercase;
  color: #8e95a0;
  font-size: 10px;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.field__counter {
  color: #8e95a0;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: right;
}
.field__content {
  font-size: 14px;
  line-height: 1.3;
  padding: 12px 70px 12px 15px;
}
.field__content.is-empty {
  font-style: italic;
  color: #8e95a0;
}
.field__content.is-empty::after {
  content: "Содержимое отсуствует";
}

.footer {
  background-color: #0b70e8;
  font-size: 12px;
  padding: 3px 30px;
  height: 25px;
}
.footer__author {
  margin: 0;
  text-align: right;
  color: #81b8ed;
}
.footer__author a {
  color: #81b8ed;
  transition: all 0.1s ease-in-out;
}
.footer__author a:hover {
  color: #ddeaff;
}

.tools {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #dee7ec;
}

.tool {
  text-decoration: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 15px 15px 15px;
  position: relative;
  border: none;
  border-bottom: 1px solid #dee7ec;
  transition: all 0.1s ease-in-out;
  background: none;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.tool--sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tool:first-child {
  border-radius: 8px 8px 0 0;
}
.tool:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}
.tool:first-child:last-child {
  border-radius: 8px;
}
.tool:hover {
  background-color: #f9fafb;
}
.tool:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.tool__icon {
  width: 20px;
  align-self: center;
}
.tool__content {
  padding-left: 10px;
}
.tool__content--inline {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.tool__content--inline .tool__subtitle {
  padding-top: 0;
}
.tool__title {
  color: #2d384b;
  font-size: 13px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tool__subtitle {
  padding-top: 3px;
  color: #8e95a0;
  line-height: 1.2;
  font-size: 13px;
}
.tool__open {
  width: 30px;
  margin-left: auto;
  align-self: stretch;
  background: url(/images/open.svg) no-repeat center/17px;
}
.tool__dropdown {
  width: 30px;
  margin-left: auto;
  align-self: stretch;
  background: url(/images/dropdown.svg) no-repeat center/17px;
}
.tool__copy {
  width: 30px;
  margin-left: auto;
  align-self: stretch;
  background: url(/images/copy.svg) no-repeat center/17px;
}
.tool__links {
  margin: 0 0 0 auto;
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
}

.tool-icon {
  width: 30px;
  height: 30px;
}
.tool-icon--1 {
  background: url(/images/tools/award-line.svg) no-repeat center/20px;
}
.tool-icon--2 {
  background: url(/images/tools/iphone-old-apps-line.svg) no-repeat center/20px;
}
.tool-icon--3 {
  background: url(/images/tools/save-line.svg) no-repeat center/20px;
}
.tool-icon--4 {
  opacity: 0.6;
  background: url(/images/tools/incognito.svg) no-repeat center/20px;
}
.tool-icon--5 {
  opacity: 0.6;
  background: url(/images/tools/paper-fold-text.svg) no-repeat center/20px;
}
.tool-icon--6 {
  opacity: 0.6;
  background: url(/images/tools/calculator.svg) no-repeat center/20px;
}

.tools-title {
  font-size: 13.5px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.tool-link {
  font-weight: 500;
  font-size: 12.5px;
  text-decoration: none;
  padding: 0.3em 0.85em;
  border-radius: 6px;
}
.tool-link:hover {
  background-color: #e5eefd;
}

.tool-switcher {
  cursor: pointer;
  margin-left: auto;
}
.tool-switcher > input {
  position: absolute;
  width: 0;
  height: 0;
}
.tool-switcher > input:checked + span {
  opacity: 1;
  background-color: #2785e1;
}
.tool-switcher > input:checked + span::after {
  margin-left: calc(100% - 16px);
  border-color: #2785e1;
}
.tool-switcher > span {
  display: flex;
  align-items: center;
  width: 26px;
  height: 12px;
  background-color: #8e95a0;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
  opacity: 0.7;
}
.tool-switcher > span:hover {
  opacity: 1;
}
.tool-switcher > span::after {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
  background-color: #fff;
  border: 2px solid #8e95a0;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

a.tool,
button.tool,
label.tool {
  cursor: pointer;
}
a.tool:active .tool__content,
button.tool:active .tool__content,
label.tool:active .tool__content {
  transition: all 0.1s ease-in-out;
  transform: scale(0.98);
}

.table {
  font-size: 13px;
}
.table tr td {
  padding: 6px 0;
  vertical-align: top;
}
.table tr td:first-child {
  padding-top: 5px;
  padding-right: 40px;
  max-width: 160px;
}
.table .row-title {
  width: 130px;
  text-transform: uppercase;
  color: #8e95a0;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.table .row-title a {
  color: #8e95a0;
  text-decoration: none;
  border-bottom: 1px solid #dee7ec;
  padding-bottom: 0.075em;
  transition: all 0.1s ease-in-out;
}
.table .row-title a:hover {
  border-bottom-color: #e5eefd;
  color: #0b70e8;
}
.table .row-content {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.table .row-icon {
  min-width: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon--warning {
  background: url(/images/warning.svg) no-repeat center/85%;
}
.icon--good {
  background: url(/images/good.svg) no-repeat center/85%;
}
.icon--bad {
  background: url(/images/bad.svg) no-repeat center/87%;
}

.data-counters {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.data-counters--sm {
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.data-counter__title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #8e95a0;
  font-size: 11px;
  letter-spacing: 0.04em;
  line-height: 1;
}
.data-counter__content--inactive {
  opacity: 0.2;
}

.version {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 12px;
}
.version__avatar {
  width: 40px;
  height: 30px;
}
.version__avatar > img {
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: -7px;
}
.version__title {
  color: #8e95a0;
}
.version__link {
  color: #8e95a0;
}
.version__link:hover {
  color: #8e95a0;
  text-decoration: none;
}

.filters {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: flex-start;
}
.filters--horizontal {
  flex-direction: column;
}
.filters--horizontal .filter {
  display: flex;
}
.filters--horizontal .filter__btn {
  margin-right: -1px;
  margin-bottom: 0;
  padding: 0.5em 1.5em;
}
.filters--horizontal .filter__btn:first-child {
  border-radius: 8px 0 0 8px;
}
.filters--horizontal .filter__btn:last-child {
  border-radius: 0 8px 8px 0;
}

.filter {
  display: grid;
  grid-template-columns: 1fr;
}
.filter__btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding: 0.6em 1.5em;
  border: 1px solid #dee7ec;
  margin-bottom: -1px;
  transition: all 0.1s ease-in-out;
  text-align: left;
}
.filter__btn:first-child {
  border-radius: 8px 8px 0 0;
}
.filter__btn:last-child {
  border-radius: 0 0 8px 8px;
}
.filter__btn:hover {
  background-color: #f6f8f9;
}
.filter__btn--active {
  border: 1px solid #a1c9f1;
  background-color: #f1f7ff;
  color: #2785e1;
  z-index: 1;
}
.filter__btn--active:hover {
  background-color: #f1f7ff;
}
.filter__btn > span {
  font-size: 10px;
  line-height: 1.6;
  opacity: 0.6;
  padding-left: 0.33em;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  outline: 1px solid #dee7ec;
}
.data-table th {
  text-align: left;
  font-weight: 400;
  color: #8e95a0;
  padding: 0.75em 1.75em;
  font-size: 13px;
  border-color: transparent;
  border-bottom: 1px solid #dee7ec;
}
.data-table td {
  padding: 0.33em 1.75em;
  font-size: 13px;
}
.data-table tbody tr:first-child td {
  padding-top: 1.5em;
}
.data-table tbody tr:last-child td {
  padding-bottom: 1.5em;
}

.textinput {
  border: 1px solid #dee7ec;
  padding: 0.5em 0.75em;
  border-radius: 6px;
}
.textinput:focus {
  outline: none;
  border-color: #a1c9f1;
}
.textinput--sm {
  max-width: 50px;
}

.data-rows {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.data-row {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.data-row__pic {
  width: 50px;
}
.data-row__pic > img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100px;
}
.data-row__content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  font-size: 13px;
}

.data-info__title {
  text-transform: uppercase;
  font-size: 11px;
  color: #8e95a0;
}
.data-info--inactive {
  opacity: 0.5;
}

.og {
  border: 1px solid #dee7ec;
  border-radius: 16px;
  overflow: hidden;
  width: 420px;
  margin-bottom: 20px;
}
.og__pic > img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}
.og__content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.og__title {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.og__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.og__link {
  color: #8e95a0;
}

.mt-0,
.my-0 {
  margin-top: 0px;
}

.mt-1,
.my-1 {
  margin-top: 10px;
}

.mt-2,
.my-2 {
  margin-top: 20px;
}

.mt-3,
.my-3 {
  margin-top: 30px;
}

.mt-4,
.my-4 {
  margin-top: 40px;
}

.mb-0,
.my-0 {
  margin-bottom: 0px;
}

.mb-1,
.my-1 {
  margin-bottom: 10px;
}

.mb-2,
.my-2 {
  margin-bottom: 20px;
}

.mb-3,
.my-3 {
  margin-bottom: 30px;
}

.mb-4,
.my-4 {
  margin-bottom: 40px;
}

.mx-0,
.ml-0 {
  margin-left: 0px;
}

.mx-1,
.ml-1 {
  margin-left: 10px;
}

.mx-2,
.ml-2 {
  margin-left: 20px;
}

.mx-3,
.ml-3 {
  margin-left: 30px;
}

.mx-4,
.ml-4 {
  margin-left: 40px;
}

.mx-0,
.mr-0 {
  margin-right: 0px;
}

.mx-1,
.mr-1 {
  margin-right: 10px;
}

.mx-2,
.mr-2 {
  margin-right: 20px;
}

.mx-3,
.mr-3 {
  margin-right: 30px;
}

.mx-4,
.mr-4 {
  margin-right: 40px;
}

.ml-a {
  margin-left: auto;
}