.tabpanel {
    padding: 0 22px;
}

.tablist {
    background-color: $bg-d;
    padding: 4px;
    border-radius: $br;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 4px;
    justify-content: space-between;
}

.tab {
    cursor: pointer;
    border: none;
    border-radius: $br-sm;
    color: $text-l;
    font-weight: 600;
    font-size: 12.5px;
    background-color: $bg-d;
    padding: 8px 12px;
    line-height: 1;
}

.tab[aria-selected="true"] {
    background-color: #fff;
    color: $text;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #fff;
    }
}

.tab:hover {
    background-color: darken($bg-d, 3);
}

.tabpanel {
    display: none;
}

.tabpanel[aria-hidden="false"] {
    display: block;
}
