@import "base";
@import "tabs";
@import "fields";


.table {
    font-size: 13px;

    tr {
        td {
            padding: 8px 0;
            vertical-align: top;

            &:first-child {
                padding-top: 5px;
            }
        }
    }

    .row-title {
        width: 130px;
        text-transform: uppercase;
        color: $text-l;
        font-size: 12px;
        letter-spacing: 0.05em;

        a {
            color: $text-l;
            text-decoration: none;
            border-bottom: 1px solid $line;
            padding-bottom: 0.075em;
            transition: $t;

            &:hover {
                border-bottom-color: $main-l;
                color: $main-d;
            }
        }
    }

    .row-content {
        display: flex;
        column-gap: 10px;
    }

    .row-icon {
        min-width: 20px;
    }
}

.icon {
    width: 20px;
    height: 20px;

    &--warning {
        background: url(/images/warning.svg) no-repeat center/85%;
    }

    &--good {
        background: url(/images/good.svg) no-repeat center/85%;
    }

    &--bad {
        background: url(/images/bad.svg) no-repeat center/87%;
    }
}
